.margin {
	margin-top: 1em;
	margin-left: 1em;
}

.header {
	text-align: center;
	background-color: #00ffff;
}

.footer {
	text-align: center;
	background-color: aqua;
}

p {
	font-weight: bold;
}

td {
	text-align: center;
}